<footer class="page-footer grey">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Silver Fork</h5>
				<p class="grey-text text-lighten-4">The silver fork is a starter template.  You can "fork it" into anything you like. I generally start all single page web apps with this template. It is a nice template. </p>
			</div>
			<div class="col l3 s6">
				<h5 class="white-text">Inform</h5>
				<ul>
					<li><a class="white-text" href="#!">Terms</a></li>
					<li><a class="white-text" href="#!">Privacy</a></li>
					<li><a class="white-text" href="#!">Legal</a></li>
				</ul>
			</div>
			<div class="col l3 s6">
				<h5 class="white-text">Connect</h5>
				<ul>
					<li><a class="white-text" href="#!">Google</a></li>
					<li><a class="white-text" href="#!">Facebook</a></li>
					<li><a class="white-text" href="#!">Instagram</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			Site by <a class="amber-text text-lighten-1" href="http://www.jordanhurt.com">Jordan Hurt</a>
		</div>
	</div>
</footer>