<nav class="deep-orange no-shadow" role="navigation">
	<div class="nav-wrapper container"><a id="logo-container" ui-sref="home" class="brand-logo">SilverFork</a>
		<ul class="right hide-on-med-and-down">
			<li><a ui-sref="home">Home</a></li>
		</ul>

		<ul id="nav-mobile" class="side-nav" style="width: 240px;">
			<li><a ui-sref="home">Home</a></li>
		</ul>
		<a href="#" class="button-collapse ng-isolate-scope" data-activates="nav-mobile" data-sidenav="left" data-menuwidth="300" data-closeonclick="true"><i class="mdi-navigation-menu"></i></a>      
	</div>
</nav>
